<html>

<head>
    <title>AMAZING</title>

    <link rel='icon' type='jpg' href='./images/icons.jpg'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://kit.fontawesome.com/e74fa06b39.js" crossorigin="anonymous"></script> -->
    <link href="signup.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>
    <script src="signup.js"></script>
</head>

<body>
    <div class="main" ng-app="user_signup" ng-controller="user_signup_ctrl">

        <p class="sign" align="center"><b>SIGNUP WITH AMAZING</b> </p><br><br>
        <input class="un" type="text" align="center" ng-model="username" placeholder="Username" required />

        <input class="em" type="text" align="center" ng-model="email" placeholder="Email" required />

        <input class="ph" type="text" align="center" ng-model="phone" placeholder="phone" required />

        <input class="pass" type="password" align="center" ng-model="password" placeholder="Password"
            required /><br><br>
        <!-- <i class="fas fa-envelope-open"></i> -->
        <button class="button1" ng-click="subFunction1()"><span>OTP VERIFY</span></button>
        <button class="button1" ng-click="subFunction2()"><span>EMAIL VERIFY</span></button>
        <!-- <i class="fas fa-envelope-open"></i> -->
        <br>
        <button class="button1" ng-click="subFunction()"><span>SIGNUP</span></button>
    </div>
</body>

</html>