<head>
  <title>AMAZING</title>

  <link rel='icon' type='jpg' href='angular js/images/icons.jpg'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://kit.fontawesome.com/e74fa06b39.js" crossorigin="anonymous"></script> -->
  <link href="login.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://kit.fontawesome.com/e74fa06b39.js" crossorigin="anonymous"></script>
  <script src="website.js"></script>
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">AMAZING</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="search" ng-model="search" placeholder="Search" />
              </div>
            </form>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li>

          <li ng-model="mail" class="active"><a href="#"><i class="fas fa-user"> {{mail}}</i></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>

            </ul>
          </li>
          <li><button class="btn" ng-click="subFunction()">Logout</button></li>
        </ul>



      </div>
    </nav>
    <br>
    <br>
    <div ng-repeat="x in searchString">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{x.product_img}}" alt="Card image cap">
        <div class="card-body" align="center">
          <h5 class="card-title">{{x.product_name}}</h5>
          <p class="card-text">{{x.description}}</p>
          <p class="card-text">Rs.{{x.price}}</p>
          <a href="payment_form.html?id={{x.id}}?amt={{x.price}}" class="btn btn-warning">BUY</a>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
  <div class="footer">
    <a href="https://www.instagram.com/___ritika02___/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/ritika-singh-416544191/"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
  </div>
</body>